@import url('css/Base.css');

footer{
    width: 100%;
    height: auto;
    padding: 20px 100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background-color: #3f0423;
}
footer p, a{
    font-family: 'Nunito', sans-serif;
    color: var(--color-background);
    font-weight: 200;
    
}

.icon{
    color: var(--color-background);
    font-size: 2rem;
}

.footer-brand .icon:hover{
    color: var(--color-secondary);
}
.footer-brand img{
    width: 350px;
    height: auto;
}

.brand-contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.brand-contenedor3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.brand-contenedor3 div{
    width: 50%;
    justify-content: flex-start;
}


.brand-contenedor2 img{
    width: auto;
    height: 100px;
}